/* ==UserStyle==
@name           2015/16 look for rehike
@namespace      https://github.com/Minebunny99
@updateURL      https://github.com/Minebunny99/2015-rehike-css/2015rehike.css
@version        1.1.7
@description    Makes it look like early-mid-late 2015/early-mid 2016
@author         EpicbonnieSFM
@preprocessor stylus
@var checkbox whattowatch "Old What To Watch Text" 0
@var checkbox olduploadsize "Old Upload Button size" 0
@var checkbox oldmysubsicon "Old My Subscriptions Icon" 0
@var checkbox hidetrendingguide "Hide Trending Guide" 0
@var checkbox searchbtn "Old search button icon" 0
@var checkbox hidesearchtext "Hide Search Text" 0
@var select logo "Logo" ["Lzero:default", "Ltwo:2015", "Lthree:2013", "Lfour:2011"]
@var checkbox guidebutton "Red guide button and right of logo" 0
@var checkbox arialz "Use arial" 0
@var checkbox smallwatchthumbs "Small Watch thumbs" 0
@var checkbox oldupnexttext "Old Up Next Text" 0
@var checkbox notransitiononautonavcheckbox "No transition on autoplay checkbox" 0
@var checkbox oldautoPlaytext "Old Autoplay Bold" 0
@var checkbox noautoplay "Remove autoplay" 0
@var checkbox bigtitletext "Big Title Text" 0
@var checkbox oldshare "Old share Button" 0
@var checkbox oldnoft "Old Notifications Icon" 0
@var checkbox Nosubscountwhensubsed "Hide Subscriber Count When Subscribed to someone" 0 
@var checkbox olddec "Old Description size" 0
@var checkbox old404img "Old 404 Image" 0
==/UserStyle== */
@-moz-document domain("www.youtube.com") {
    if guidebutton {
        #appbar-guide-button {
            height: 28px;
            width: 46px;
            margin-top: 2px;
            margin-left: -1px;
        }

        #yt-masthead .yt-masthead-logo-container {
            width: 200px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: Left;
        }

        #appbar-guide-button .yt-uix-button-icon-wrapper::after {
            content: '';
            display: inline-block;
            border-width: 3px 3px 0;
            border-top-color: #b8b8b8 !important;
            border-color: transparent;
            border-style: solid;
            position: relative;
            top: 2px;
            left: 2px;
        }

        #masthead-positioner:hover #appbar-guide-button .yt-uix-button-icon-wrapper::after {
            border-top-color: #666 !importnat;
        }

        #masthead-positioner:hover #appbar-guide-button {
            background: #f8f8f8;
            border-color: #d3d3d3;
        }

        #appbar-guide-button:hover {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);
        }

        #appbar-guide-button:active {
            box-shadow: inset 0 1px 0 #ddd;
        }

        #appbar-guide-button:hover:focus,
        #appbar-guide-button:focus {
            box-shadow: 0 0 0 2px rgba(27, 127, 204, 0.4);
        }
        .show-guide #appbar-guide-button > span:after,
        .show-guide #masthead-positioner:hover #appbar-guide-button > span:after {
            border-top-color: #e63127 !important
        }
        .show-guide .yt-uix-button-icon-appbar-guide,
        .show-guide #masthead-positioner:hover .yt-uix-button-icon-appbar-guide {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflbKBZkj.png) -29px -1244px;
        }
    }

    if logo==Ltwo {
        #yt-masthead #logo-container .logo,
        #footer-logo .footer-logo-icon {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfli_XxZt.png) -167px -205px;
            width: 72px;
            height: 30px;
        }
        #yt-masthead-container {
            padding-bottom: 10px;
        }
        .appbar-hidden #masthead-positioner-height-offset {
            height: 50px;
        }
        .yt-uix-button-icon-wrapper {
            margin-left: -2px;
        }
    }
    if logo==Lfour {
        #yt-masthead #logo-container .logo,
        #footer-logo .footer-logo-icon {
            background: no-repeat url(//i.imgur.com/2NsZ2QH.png) -167px -205px;
            width: 73px;
            height: 30px;
        }
        #yt-masthead-container {
            padding-bottom: 10px;
        }
        .appbar-hidden #masthead-positioner-height-offset {
            height: 50px;
        }
        .yt-uix-button-icon-wrapper {
            margin-left: -2px;
        }
    }
    if logo==Lthree {
        #yt-masthead #logo-container .logo,
        #footer-logo .footer-logo-icon {
            width: 72px !important;
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflmnaCdT.png) -90px -108px !important;
        }
        #yt-masthead-container {
            padding-bottom: 10px;
        }
        .appbar-hidden #masthead-positioner-height-offset {
            height: 50px;
        }
        .yt-uix-button-icon-wrapper {
            margin-left: -2px;
        }
    }

    if hidesearchtext {
        #masthead-search-term::placeholder {
            color: transparent;
        }
    }
    if searchbtn {
        #masthead-search .search-btn-component {
            width: 65px;
        }
        #masthead-search .search-btn-component .yt-uix-button-content {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfli_XxZt.png) -145px -287px;
            margin-top: 2px;
        }
    }
    if smallwatchthumbs {
        .related-list-item .thumb-wrapper,
        .related-list-item .thumb-wrapper img,
        .yt-thumb-168,
        .yt-thumb-168 img {
            width: 120px;
        }

        .related-list-item .thumb-wrapper,
        .related-list-item .thumb-wrapper img,
        .yt-uix-simple-thumb-related,
        .yt-thumb-168,
        .yt-thumb-168 img {
            height: 68px;
        }
        .yt-pl-thumb-overlay-text {
            font-size: 11px;
        }

        .yt-pl-thumb .formatted-video-count-label b {
            font-size: 14px;
        }

        .yt-pl-thumb .formatted-video-count-label {
            font-size: 8px;
        }
        .related-list-item .content-link {
            min-height: 68px;
        }

        .related-list-item .content-wrapper {
            margin-left: 133px;
        }

        .video-list .video-list-item .title {
            font-size: 13px;
            max-height: 2.4em;
        }
        .yt-badge-list {
            margin-left: 69px;
            position: absolute;
            top: 49px;
        }
        .yt-pl-icon.yt-pl-icon-mix {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfl3T2Agh.png) -393px 0;
            background-size: auto;
            width: 24px;
            height: 24px;
        }

        .yt-pl-icon {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfl3T2Agh.png) -863px -75px;
            background-size: auto;
            width: 18px;
            height: 18px;
        }
    }

    .yt-subscription-button-subscriber-count-branded-horizontal {
        margin-left: -1px;
    }
    if oldshare {
        .action-panel-trigger-share::before {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfl3T2Agh.png) -261px -13px;
            background-size: auto;
            width: 20px;
            height: 20px;
        }
    }

    #startSegmentButton,
    #cancelSegmentButton,
    #deleteButton,
    #submitButton,
    #infoButton,
    .standalone-collection-badge-renderer-text,
    .ytp-chapter-container {
        display: none !important;
    }

    .yt-uix-checkbox-on-off {
        vertical-align: inherit;
    }

    .ytp-scrubber-container {
        left: 2px;
    }
    if bigtitletext {
        #watch7-headline h1 {
            font-size: 24px;
        }
         .watch-title-container,
        .video-metadata-renderer-music-pass-badge-renderer {
            display: table-cell;
            vertical-align: top;
        }
    }
    if whattowatch {
        #what_to_watch-guide-item .display-name span {
            font-size: 0;
            line-height: 0;
        }
        #what_to_watch-guide-item .display-name:after {
            content: "What to Watch";
            font-size: 12px;
            line-height: 20px;
            margin-left: -2.6px;
        }
    }
    if oldupnexttext {
        #watch7-sidebar .watch-sidebar-head {
            font-size: 0;
            line-height: 0;
        }

        #watch7-sidebar .watch-sidebar-head:after {
            content: 'Up Next';
            font-size: 13px;
            line-height: 1.4;
        }
    }
    if oldautoPlaytext {
        .autoplay-bar .checkbox-on-off {
            position: absolute;
            top: 0;
            right: 0;
            vertical-align: top;
            font-size: 13px;
            font-weight: bold;
            color: #767676;
        }
    }
    if oldmysubsicon {
        .guide-item .guide-my-subscriptions-icon {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflynt-iQ.webp) -112px -207px;
            background-size: auto;
            width: 20px;
            height: 20px
        }
        .guide-item:hover .guide-my-subscriptions-icon,
        .guide-item.guide-item-selected .guide-my-subscriptions-icon {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflynt-iQ.webp) -112px -207px;
            background-position: -392px -28px
        }
    }
    if hidetrendingguide {
        #trending-guide-item {
            display: none;
        }
    }
    if oldnoft {
        .yt-uix-subscription-preferences-button:before {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflkWou0A.png) -476px -174px !important;
            background-size: auto !important;
            width: 13px !important;
            height: 13px !important;
        }
        .yt-uix-subscription-preferences-button:hover:before {
            background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflkWou0A.png) -388px -261px !important;
            background-size: auto !important;
            width: 13px !important;
            height: 13px !important;
        }
    }
    if arialz {
        body,
        input,
        button,
        textarea,
        select {
            font-family: arial, sans-serif;
        }
        a.yt-uix-button-epic-nav-item.selected,
        a.yt-uix-button-epic-nav-item.yt-uix-button-toggled,
        button.yt-uix-button-epic-nav-item.selected,
        button.yt-uix-button-epic-nav-item.yt-uix-button-toggled,
        .epic-nav-item.selected,
        .epic-nav-item.yt-uix-button-toggled,
        .epic-nav-item-heading,
        h3,
        h4,
        h5,
        h6,
        .yt-uix-button,
        strong,
        b,
        .video-list .video-list-item .title,
        #watch-header .yt-user-info a,
        .branded-page-base-bold-titles .channel-header .branded-page-header-title .branded-page-header-title-link,
        .branded-page-base-bold-titles .branded-page-module-title,
        li.guide-section h3 {
            font-weight: bold
        }
        #footer-links-primary {
            margin-bottom: 8px;
            font-weight: bold;
        }
        #footer-links-secondary a {
            font-weight: bold;
        }
        .video-list .video-list-item .title {
            color: #333;
            font-size: 13px;
            font-weight: bold;
        }
        #guide-container .guide-item.guide-item-selected {
            font-weight: bold;
        }
        .branded-page-related-channels h3 a,
        .branded-page-related-channels h3 {
            font-weight: bold;
        }
    }
    if olddec {
    #watch-description {
        color: #333;
        line-height: 17px;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    .yt-uix-expander-collapsed #watch-description-text {
        max-height: 51px;
        overflow: hidden;
        padding-top: 0px;
    }
    #watch-description-text {
        padding-top: 0px;
    }
  }
   if noautoplay {
        .watch-sidebar-section {
            margin-bottom: 0 !important;
        }

        .watch-sidebar-separation-line,
        .watch-sidebar-head,
        .checkbox-on-off {
            display: none;
        }

        .watch-sidebar-section:first-child .video-list-item:last-child {
            margin-bottom: 15px !important;
        }
    }
if Nosubscountwhensubsed {
        .yt-subscription-button-subscriber-count-branded-horizontal,
        .yt-subscription-button-subscriber-count-unbranded-horizontal {
            display: none !important;
        }
        .yt-uix-button-subscribe-branded + .yt-subscription-button-subscriber-count-branded-horizontal,
        .yt-uix-button-subscribe-unbranded + .yt-subscription-button-subscriber-count-unbranded-horizontal,
        .yt-uix-button-subscribe-branded + .yt-uix-subscription-preferences-button + .yt-subscription-button-subscriber-count-branded-horizontal,
        .yt-uix-button-subscribed-branded + .yt-subscription-button-subscriber-count-branded-horizontal.subscribed,
        .yt-uix-button-subscribed-unbranded + .yt-subscription-button-subscriber-count-unbranded-horizontal.subscribed,
        .yt-uix-button-subscribed-branded + .yt-uix-subscription-preferences-button + .yt-subscription-button-subscriber-count-branded-horizontal.subscribed {
            display: inline-block !important;
            *display: inline;
            *zoom: 1
        }
    }
    if olduploadsize {
        #upload-btn {
            padding: 0 13px;
        }
    }
        if notransitiononautonavcheckbox {
        .yt-uix-checkbox-on-off label > * {
            transition: none !important;
        }
    }
    if old404img {
        img[src*="/yts/img/ringo/img/image-hh-404-vflP3hqNT.png"] {
            display: none;
        }
        #error-page-hh-illustration {
            padding-left: 167px;
            display: block;
            width: 189px;
            height: 138px;
            content: url(https://s.ytimg.com/yts/img/image-hh-404-vflvCykRp.png) !important;
        }
    }
    .yt-uix-checkbox-on-off .checked:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfllYIUv0.png) -53px -563px;
        background-size: auto;
        width: 10px;
        height: 9px;
    }
}
